<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lilanz.tooldemo">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!--搜索蓝牙需要，因为蓝牙可以被用来定位，所以需要定位权限-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".multiplex.API.APIActivity" />
        <activity android:name=".multiplex.daos.DaoExaActivity" />
        <activity android:name=".multiplex.camera2.Camera2ExaActivity">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity android:name=".multiplex.qrcode.CodeScanExaActivity" /> <!-- 允许系统7.0以上的拍照，视频录制存储 -->

        <activity android:name=".multiplex.activitys.ReuseActivity" />
        <!--    蓝牙适配类    -->
        <activity android:name=".multiplex.bleModel.BleActivity" />
        <activity android:name=".multiplex.BLELIB.BLELIBActivity" />
        <activity android:name=".multiplex.BLELIB.BleScanActivity" />

        <!--        <service android:name=".multiplex.BLELIB.lib.BleService" />-->
        <!--   wifi通信     -->
        <activity android:name=".multiplex.wificonnect.WifiConnectActivity" />
        <activity android:name=".multiplex.wificonnect.SearchIpActivity" />
        <!-- webView -->
        <activity android:name=".multiplex.web.WebActivity" />
        <!--    打印机相关类    -->
        <activity android:name=".prints.PrintsActivity" />
        <activity android:name=".prints.zicoxPrint.ZicoxActivity" />
        <activity android:name=".prints.jiabo.JiaBoActivity" />
        <activity android:name=".prints.hanYin.HanYinActivity" />

        <activity android:name=".multiplex.scanhelper.ScanActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lilanz.tooldemo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>