<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demon.fit">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".activity.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CalculateActivity" />

        <activity android:name=".activity.TargetActivity" />

        <activity android:name=".activity.OperateActivity" />

        <activity android:name=".activity.JingDianActivity" />

        <activity android:name=".activity.ResultActivity" />

        <activity android:name=".activity.CostActivity" />

        <activity android:name=".activity.OperateResultActivity" />

        <activity android:name=".activity.AddNewResultActivity" />

        <activity android:name=".activity.OperateDetailActivity" />

        <activity android:name=".activity.AnalyzeOperateResultActivity" />

        <activity android:name=".activity.CompareOperateResultActivity" />

        <activity android:name=".data_transfer.activity.DataTransferActivity" />

        <activity android:name=".data_transfer.activity.ReceiverDeviceActivity" />

        <activity android:name=".data_transfer.activity.SendDeviceActivity" />

        <activity android:name=".activity.OperateTypeActivity" />

        <service android:name=".service.TimerService"
            />
    </application>

</manifest>